{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About GeoNode" %}</h2>
</div>
<p class="lead">{% trans "About GeoNode." %}</p>
<p>
GeoVisor es un contenerdor de datos Georeferenciados de los distintos programas de la Direccion General de Biodiversidad y Areas Protegidas. 
</p>
<p>
Usted podra realizar la descarga de los mapas y seleccionar la capa que desea visualizar en el visor.
</p>
<p>
Adicionalmente se proporciona herramientas de manejo de mapas.
</p>

{% endblock %}
